body {
  background-color: #B0A695;
}

header {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Cambia esto al ancho que quieras para el logo */
  height: 50px; /* Cambia esto a la altura que quieras para el logo */
}

h1 {
  font-family: 'Jersey 25', sans-serif; /* Cambia esto a la fuente que quieras */
  font-size: medium; /* Cambia esto al tamaño que quieras */
  margin-left: 10px;
}

h2 {
  margin-top: 0;
}

.contact-form {
  margin: 100px;
  border: 2px solid black; /* Cambia esto al color que quieras para las líneas del formulario */
  padding: 20px;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.contact-form button {
  display: block;
  margin-top: 10px;
}