<nav class="mi-navbar navbar navbar-expand-lg" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <img
        src="{{ url_for('static', filename='imgs/logonav.png') }}"
        alt="John Iq Nerdelbaum Home"
      />
    </a>
    {% if is_logged %}
    <h4>Bienvenido, {{ current_user.fullname }}</h4>
    {% endif %}
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{{ url_for('index') }}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact') }}">Contacto</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if is_logged %}
        <li class="nav-item">
          <a
            class="nav-link d-flex justify-content-center align-items-center"
            href="{{ url_for('profile') }}"
          >
            <span class="material-symbols-outlined fs-2">account_circle</span>Mi
            perfil
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex justify-content-center align-items-center"
            href="{{ url_for('logout') }}"
          >
            <span class="material-symbols-outlined fs-2">logout</span>Salir
          </a>
        </li>

        {% else %}

        <li class="nav-item" data-mdb-ripple-init data-mdb-ripple-color="light">
          <a class="nav-link d-flex justify-content-center align-items-center" href="{{ url_for('login') }}">
              <span class="material-symbols-outlined fs-2">login</span>Ingresar
          </a>
      </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
