{% extends 'base.html' %} 


{% block customcss %} 
<link rel="stylesheet" href={{url_for('static',filename='css/misc.css')}} />

{% endblock %}
{% block title %} Contacto {% endblock %} 
{% block body %}
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <script>
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        text: "{{message}}",
                        showConfirmButton: true,
                        timer: 5000
                    })
                </script>
            {% else %}
                <script>
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        text: "{{message}}",
                        showConfirmButton: true,
                        timer: 5000
                    })
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith  %}
<div class="container mt-5">
    <h2>Contactanos</h2>
    <form class="my-form contact-form" action="/contact" method="POST" >
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
      <div class="form-group">
        <label for="clientName">Su Nombre</label>
        <input type="text" class="form-control" id="clientName" name="clientName" placeholder="Enter your name">
      </div>
      <div class="form-group">
        <label for="clientInquiry">Su consulta</label>
        <textarea class="form-control" id="clientInquiry" name="clientInquiry" rows="3" placeholder="Type your inquiry here"></textarea>
      </div>
      <div class="radio-inputs">
        <label class="radio" for="humano">
            <input type="radio" name="clientSpecies" id="humano" value="humano"/>
            <span class="name">Ser Humano</span>
        </label>
        <label class="radio" for="otro">
            <input type="radio" name="clientSpecies" id="otro" value="otro"/>
            <span class="name">Otra especie</span>
        </label>
    </div>    
      <p class="especiep">Seleccione su especie☝️</p>
      <div class=" form-switch">
        <input class="form-check-input w-ft" type="checkbox" id="nublado">
        <label class="form-check-label ml-0 w-ft text-white" for="nublado">Hoy está nublado.</label>
      </div>
      <button type="submit" class="my-btn">Enviar</button>
    </form>
  </div>
  
  <div class="my-bg mt-5 ">
    <h2>Nuestra oficina</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470059.7008379493!2d-0.24168187038135343!3d51.5285582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b87dc78b953%3A0x9c1ff3f3a5b1f865!2sLondon%2C%20UK!5e0!3m2!1sen!2suk!4v1603363442065!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <p class="text-center">
        Teléfono: +54-9-555-55555
      </p>
      <p class="text-center">
        Email: nerdelbaum.frink@gmail.com
      </p>
</div>
  
  {% endblock %}